{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-async-to-generator",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
