{
    "env": {
        "test": {
            "plugins": [
                "@babel/plugin-transform-modules-commonjs"
            ],
            "only": [
                "lib/index.es.js"
            ]
        }
    }
}
