{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "eqeqeq": 2,
    "prefer-arrow-callback": 2,
    "strict": [2, "never"],
    "yoda": [2, "never"],

    "no-alert": 2,
    "no-console": 0,
    "no-const-assign": 2,
    "no-else-return": 2,
    "no-this-before-super": 2,
    "no-unexpected-multiline": 2,
    "no-var": 2,

    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
  }
}
