.cache
.now
.nyc_output
.rpt2_cache
*.log
*.tgz
*.tsbuildinfo
artifacts
bazel-out
coverage
dist
dist-es6
functional-tests/
lib
locale-data
node_modules
packages/*/tests/test262*
packages/babel-plugin-react-intl/options.ts
packages/babel-plugin-react-intl/test/fixtures/*/actual.json
packages/intl-listformat/src/locales.ts
packages/intl-numberformat/tests/data/
packages/intl-relativetimeformat/src/locales.ts
polyfill-locales.js
temp
tests-karma