artifacts
.nyc_output
coverage
dist
lib
node_modules
*.log
*.tgz
functional-tests/
*.tsbuildinfo
.rpt2_cache
temp
polyfill-locales.js
dist-es6

.now
.cache
tests-karma
locale-data
temp*

packages/intl-listformat/src/locales.ts
packages/intl-messageformat-parser/src/parser.ts
packages/intl-numberformat/tests/data/
packages/intl-relativetimeformat/src/locales.ts
packages/babel-plugin-react-intl/test/fixtures/*/actual.json
bazel-out