locale-data/ linguist-generated
packages/*/test262-main.ts linguist-generated
data/ linguist-generated
packages/intl-messageformat-parser/src/parser.ts linguist-generated
iana-data/ linguist-vendored
data.zdump linguist-generated