bazel-out
dist
packages/*/CHANGELOG.md
packages/babel-plugin-react-intl/src/options.ts
packages/intl-getcanonicallocales/src/aliases.ts
packages/intl-numberformat/src/data/
test262*
test262/
website/.docusaurus
website/.now
website/build
website/CHANGELOG.md