{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        ["babel-plugin-transform-react-remove-prop-types", {
            "messagesDir": "./build/messages/"
        }]
    ]
}
