name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.16.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Build Distribution
        run: |
          bazel build \
            --config=ci \
            --remote_header=x-buildbuddy-api-key=${{ secrets.BUILDBUDDY_ORG_API_KEY }} \
            :dist
          cp -rf $(bazel cquery --output=files dist)/ release/
          chmod -R +w release/

      - name: Upload Release Artifact
        uses: actions/upload-artifact@v6
        with:
          name: release-dist
          path: release/
          retention-days: 1

  release:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write

    steps:
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.27.0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'
          scope: '@formatjs'

      - name: Download Release Artifact
        uses: actions/download-artifact@v7
        with:
          name: release-dist
          path: release/

      - name: Install Release Dependencies
        working-directory: release
        run: pnpm install --frozen-lockfile --ignore-scripts

      # - name: Version Packages
      #   run: HUSKY=0 pnpm run prerelease
      #   env:
      #     GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure npm for publishing
        working-directory: release
        run: |
          echo "registry=https://registry.npmjs.org/" > .npmrc

      - name: Publish to npm
        working-directory: release
        env:
          NPM_CONFIG_PROVENANCE: true
        run: |
          pnpm -r publish --access public --no-git-checks
