name: Test on macOS

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test-macos:
    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.16.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Run Tests
        run: |
          bazel test \
            --config=gh-ci \
            --remote_header=x-buildbuddy-api-key=${{ github.event_name == 'pull_request' && secrets.BUILDBUDDY_RO_PUBLIC_KEY || secrets.BUILDBUDDY_ORG_API_KEY }} \
            //...
