# Bazel configuration for rules_formatjs aggregate example

common --enable_bzlmod
common --color=yes

# Output and debugging
build --show_timestamps
build --verbose_failures

# Performance
build --remote_cache_compression
build --legacy_important_outputs
build --remote_build_event_upload=minimal
build --noslim_profile
build --experimental_profile_include_target_label
build --experimental_profile_include_primary_output
common --bes_upload_mode=fully_async

# BuildBuddy CI configuration
# https://www.buildbuddy.io/docs/rbe-github-actions
build:ci --build_metadata=ROLE=CI
build:ci --build_metadata=VISIBILITY=PUBLIC
build:ci --config=remote

build:remote --bes_backend=grpcs://formatjs.buildbuddy.io
build:remote --bes_results_url=https://formatjs.buildbuddy.io/invocation/
build:remote --define=EXECUTOR=remote
build:remote --jobs=50
build:remote --remote_cache=grpcs://formatjs.buildbuddy.io
build:remote --remote_timeout=10m

# Try to import a user-specific .bazelrc
try-import %workspace%/.bazelrc.user
